.cardWrapper {
	width: 80px;
    height: 120px;
    position: relative;
	background-color: transparent;
	border: transparent;
}

.cardWrapper:hover .face {
	box-shadow: 0 0 16px #000;
}

.face {
    box-shadow: 0 0 16px #666;
	border-radius: 10px;
	width: 100%;
    height: 100%;
    position: absolute;
	transition-property: opacity, transform, box-shadow;
	transition-duration: 0.3s;
	backface-visibility: hidden;
}

.back {
	background: #999 url(/assets/cards.png) 0 -240px;
	z-index: 10;
}

.front {
    background: #efefef url(/assets/cards.png);
	transform: rotate3d(0,1,0,-180deg);
	z-index: 8;
}

.card-flipped .front {
	transform: rotate3d(0,1,0,0deg);
	z-index: 10;
}

.card-removed {
	opacity: 0;
}

.card-2 {
    background-position: -80px -120px;
}

.card-1 {
    background-position: 0 -120px;
}

.card0 {
    background-position: 0 0;
}

.card1 {
    background-position: -80px 0;
}

.card2 {
    background-position: -160px 0;
}

.card3 {
    background-position: -240px 0;
}

.card4 {
    background-position: -320px 0;
}

.card5 {
    background-position: -400px 0;
}

.card6 {
    background-position: -480px 0;
}

.card7 {
    background-position: -560px 0;
}

.card8 {
    background-position: -640px 0;
}

.card9 {
    background-position: -720px 0;
}

.card10 {
    background-position: -800px 0;
}

.card11 {
    background-position: -880px 0;
}

.card12 {
    background-position: -960px 0;
}

.card-flipped .back {
	transform: rotate3d(0,1,0,180deg);
	z-index: 8;
}
