.card-wrapper {
	width: 80px;
    height: 120px;
    position: relative;
	background-color: transparent;
	border: transparent;
}

.card-wrapper:hover .face {
	box-shadow: 0 0 16px #000;
}

.card-wrapper span {
    color: white;
    font-size: 42pt;
    font-weight: bold;
}

.face {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px #666;
	border-radius: 10px;
	width: 100%;
    height: 100%;
    position: absolute;
	transition-property: opacity, transform, box-shadow;
	transition-duration: 0.3s;
	backface-visibility: hidden;
}

.back {
	background: #999 url(/assets/cards.png);
	z-index: 10;
}

.front {
    background: #efefef url(/assets/cards.png);
	transform: rotate3d(0,1,0,-180deg);
	z-index: 8;
}

.card-flipped .front {
	transform: rotate3d(0,1,0,0deg);
	z-index: 10;
}

.card-removed {
	opacity: 0;
}

.card-purple {
    background-position-x: -80px;
}

.card-blue {
    background-position-x: -160px;
}

.card-green {
    background-position-x: -240px;
}

.card-yellow {
    background-position-x: -320px;
}

.card-red {
    background-position-x: -400px;
}

.card-flipped .back {
	transform: rotate3d(0,1,0,180deg);
	z-index: 8;
}
