.card-wrapper {
    color: white;
    font-size: 42pt;
    font-weight: bold;
	width: 80px;
    height: 120px;
    position: relative;
	background-color: transparent;
    border: transparent;
    margin: 8px;
}

.card-wrapper.small {
    font-size: 10pt;
    font-weight: bold;
	width: 20px;
    height: 30px;
    margin: 3px;
}

.card-wrapper:hover .face {
	box-shadow: 0 0 12px #000;
}

.card-wrapper:hover .face.small {
	box-shadow: 0 0 3px #000;
}

.face {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px #666;
	border-radius: 10px;
	width: 100%;
    height: 100%;
    position: absolute;
	transition-property: opacity, transform, box-shadow;
	transition-duration: 0.3s;
	backface-visibility: hidden;
}

.face.small {
    box-shadow: 0 0 3px #666;
	border-radius: 2px;
}

.back {
	background: #999 url(/assets/cards.png);
	z-index: 10;
}

.front {
    background: #efefef url(/assets/cards.png);
	transform: rotate3d(0,1,0,-180deg);
	z-index: 8;
}

.front.small, .back.small {
    background-position-y: -180px;
}

.card-flipped .front {
	transform: rotate3d(0,1,0,0deg);
	z-index: 10;
}

.card-removed {
	opacity: 0;
}

.card-purple {
    background-position-x: -80px;
}

.card-blue {
    background-position-x: -160px;
}

.card-green {
    background-position-x: -240px;
}

.card-yellow {
    background-position-x: -320px;
}

.card-red {
    background-position-x: -400px;
}

.card-purple.small {
    background-position-x: -20px;
}

.card-blue.small {
    background-position-x: -40px;
}

.card-green.small {
    background-position-x: -60px;
}

.card-yellow.small {
    background-position-x: -80px;
}

.card-red.small {
    background-position-x: -100px;
}

.card-flipped .back {
	transform: rotate3d(0,1,0,180deg);
	z-index: 8;
}
