.drawDiscardContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.overflowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.deckContainer {
    margin: 0 8px;
}

.name {
    font-weight: bold;
    text-align: center;
    margin: 4px 0;
}

.name.offline {
    color: grey;
    text-decoration: line-through;
}
