.container2 { 
    height:100vh; 
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 50% 50%; 
} 

.player { 
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-rows: 3fr 1fr 9fr;
    grid-template-columns: 100%;
} 

.room { 
    background:gold; 
    grid-column:2; 
    grid-row :1; 

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} 

.chat { 
    background:lightgreen; 
    grid-column:2; 
    grid-row :2; 
} 

.pile {
    grid-row: 1;

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
    height: 100%;
}

.state {
    grid-row: 2;
    padding: 0px 15px;
    color: white;
}

.game {
    grid-row: 3;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}

.pile-draw {
    display: inline-block;
}

.pile-discard  {
    display: inline-block;
}